.modal.hide.fade(id=modalID, tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
    block mod-header
  .modal-body
    block mod-body
  .modal-footer
    block mod-footer